APP_NAME=Kairix Judgenburn
HOST_PORT=7080
PUBLIC_PORT=7081
PUBLIC_UPSTREAM_URL=http://web:8080
PUBLIC_PROXY_TIMEOUT_SECONDS=4

POSTGRES_DB=kairix_judging
POSTGRES_USER=kairix
POSTGRES_PASSWORD=change_me_before_event_day

BACKUP_DIR=/app/backups
AUTO_BACKUP_INTERVAL_MINUTES=30
AUTO_BACKUP_RETENTION_COUNT=48
